body {
    padding: 8px;
    text-align: center;
}

header > img {
    width: 100%;
}

table {
    border-collapse: collapse;
}

td {
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 12px;
}

.width-100-percent {
    width: 100%;
}

.info-contents-left {
    float: left;
    width: 50%;
}

.info-contents-right {
    float: right;
    width: 50%;
    padding-left: 4%;
    box-sizing: border-box;
}

.info-contents-right > p {
    text-align: left;
}

.float-clear {
    clear: both;
}

.client > img {
    width: 100%;
}

.client {
    max-width: 1000px;
    margin: auto;
}

p[data-ncl="address"] {
    /* background-color: #333333; */
}

footer{
    text-align: left
}

